.container-inner{
  margin-top: 10px;
}
.table{
  display: flex;
  align-items: center;
}
.col{
 padding: 0px 5px;

}
.fade-enter {
  opacity: 0.01;
  transform:   translate(-30px,0);
    transform: translate3d(-30px,0,0);
}
.fade-enter-active {
  opacity: 1;
  transform:   translate(0,0);
  transform: translate3d(0,0,0);
  transition-property: transform, opacity;
	transition-duration: 300ms;
	transition-timing-function: cubic-bezier(0.175, 0.665, 0.320, 1), linear;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
